.header {
    position: fixed;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 80px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,100,1) 65%, rgba(158,0,255,1) 100%);
    color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}


.header-dark {

    position: fixed;
    transition: .4s;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 80px;
    background-color: #000000;
    color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}


.header-profile{
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-profile img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0px 25px;
}

.icon {
    cursor: pointer;
}